#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Инспектор"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Редактор текста"
  frRes + 61, "Вставить выражение"
  frRes + 62, "Вставить поле БД"
  frRes + 63, "Перенос слов"
  frRes + 64, "Скрыть/показать скрипт"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Дизайнер"
  frRes + 81, "Прямоугольник"
  frRes + 82, "Стандартная"
  frRes + 83, "Текст"
  frRes + 84, "Объекты"
  frRes + 85, "Выравнивание"
  frRes + 86, "Мастера"
  frRes + 87, "Новый отчет"
  frRes + 88, "Открыть отчет"
  frRes + 89, "Сохранить отчет"
  frRes + 90, "Предварительный просмотр"
  frRes + 91, "Вырезать"
  frRes + 92, "Копировать"
  frRes + 93, "Вставить"
  frRes + 94, "Отменить последнее действие"
  frRes + 95, "Повторить отмененное действие"
  frRes + 96, "Переместить объект наверх"
  frRes + 97, "Переместить объект вниз"
  frRes + 98, "Выделить все"
  frRes + 99, "Добавить страницу"
  frRes + 100, "Удалить страницу"
  frRes + 101, "Опции страницы"
  frRes + 102, "Координатная сетка"
  frRes + 103, "Выравнивать объекты по сетке"
  frRes + 104, "Расположить объекты по сетке"
  frRes + 105, "Выход"
  frRes + 106, "Закрыть окно"
  frRes + 107, "Выровнять текст влево"
  frRes + 108, "Выровнять текст вправо"
  frRes + 109, "Центровка текста"
  frRes + 110, "Горизонтальное/вертикальное расположение текста"
  frRes + 111, "Равномерно по высоте"
  frRes + 112, "Выровнять по верхнему краю"
  frRes + 113, "Выровнять по нижнему краю"
  frRes + 114, "Выровнять по ширине"
  frRes + 115, "Утолщение"
  frRes + 116, "Курсив"
  frRes + 117, "Подчеркивание"
  frRes + 118, "Цвет текста"
  frRes + 119, "Условное выделение"
  frRes + 120, "Размер шрифта"
  frRes + 121, "Шрифт"
  frRes + 122, "Верхняя линия прямоугольника"
  frRes + 123, "Левая линия прямоугольника"
  frRes + 124, "Нижняя линия прямоугольника"
  frRes + 125, "Правая линия прямоугольника"
  frRes + 126, "Все линии рамки"
  frRes + 127, "Без рамки"
  frRes + 128, "Фон прямоугольника"
  frRes + 129, "Цвет рамки"
  frRes + 130, "Толщина рамки"
  frRes + 131, "Толщина рамки"
  frRes + 132, "Выбрать объект"
  frRes + 133, "Вставить прямоугольник с текстом"
  frRes + 134, "Вставить секцию"
  frRes + 135, "Вставить рисунок"
  frRes + 136, "Вставить вложенный отчет"
  frRes + 137, "Рисовать линии"
  frRes + 138, "Выровнять левые края"
  frRes + 139, "Центрировать по горизонтали"
  frRes + 140, "Центрировать по горизонтали в окне"
  frRes + 141, "Расположить равномерно по ширине"
  frRes + 142, "Выровнять правые края"
  frRes + 143, "Выровнять верхние края"
  frRes + 144, "Центрировать по вертикали"
  frRes + 145, "Центрировать по вертикали в окне"
  frRes + 146, "Расположить равномерно по высоте"
  frRes + 147, "Выровнять нижние края"
  frRes + 148, "&Вырезать"
  frRes + 149, "&Копировать"
  frRes + 150, "Вс&тавить"
  frRes + 151, "&Удалить"
  frRes + 152, "Выделить в&се"
  frRes + 153, "&Редактор..."
  frRes + 154, "&Файл"
  frRes + 155, "&Создать..."
  frRes + 156, "&Открыть..."
  frRes + 157, "&Сохранить"
  frRes + 158, "Словарь &данных..."
  frRes + 159, "Параметры от&чета..."
  frRes + 160, "Параметры ст&раницы..."
  frRes + 161, "Предварительный прос&мотр"
  frRes + 162, "Вы&ход"
  frRes + 163, "&Правка"
  frRes + 164, "&Отменить"
  frRes + 165, "&Повторить"
  frRes + 166, "&Вырезать"
  frRes + 167, "&Копировать"
  frRes + 168, "Вс&тавить"
  frRes + 169, "&Удалить"
  frRes + 170, "Выделить в&се"
  frRes + 171, "&Редактировать..."
  frRes + 172, "До&бавить страницу"
  frRes + 173, "У&далить страницу"
  frRes + 174, "Объект &наверх"
  frRes + 175, "Объект вни&з"
  frRes + 176, "&Сервис"
  frRes + 177, "&Панели инструментов"
  frRes + 178, "&Мастера"
  frRes + 179, "&Опции..."
  frRes + 180, "&Прямоугольник"
  frRes + 181, "&Стандартная"
  frRes + 182, "&Текст"
  frRes + 183, "&Объекты"
  frRes + 184, "&Инспектор"
  frRes + 185, "&Выравнивание"
  frRes + 186, "&Мастера"
  frRes + 187, "О &программе..."
  frRes + 188, "Сохранить &как..."
  frRes + 189, "&Вызов справки"
  frRes + 190, "&Подсказка"
  frRes + 191, "Стиль линии"
  frRes + 192, "Добавить &форму диалога"
  frRes + 193, "Добавить форму диалога"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Ограничения объекта"
  frRes + 261, "Не редактировать &мемо"
  frRes + 262, "Не редактировать &скрипт"
  frRes + 263, "Не редактировать содер&жимое"
  frRes + 264, "Не изменять &опции"
  frRes + 265, "Не изменять &размер"
  frRes + 266, "Не &перемещать"
  frRes + 267, "Не &удалять"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Опции"
  frRes + 281, "Дизайнер"
  frRes + 282, "Сетка"
  frRes + 283, "Прорисовка объектов"
  frRes + 284, "Единицы измерения"
  frRes + 285, "Шаг сетки"
  frRes + 286, "Показать &сетку"
  frRes + 287, "&Выравнивать объекты"
  frRes + 288, "&Цветные кнопки"
  frRes + 289, "&4 точки"
  frRes + 290, "&8 точек"
  frRes + 291, "&18 точек (5мм)"
  frRes + 293, "Показывать содер&жимое объекта при его перемещении"
  frRes + 294, "&Пикселы"
  frRes + 295, "&Миллиметры"
  frRes + 296, "&Дюймы"
  frRes + 297, "Прочее"
  frRes + 298, "&Редактирование после вставки"
  frRes + 299, "Показывать &заголовки бэндов"
  frRes + 300, "Расположение страницы"
  frRes + 301, "По ц&ентру"
  frRes + 302, "С&лева"
  frRes + 303, "Спр&ава"
  frRes + 304, "Редактор"
  frRes + 305, "Редактор текста"
  frRes + 306, "&Использовать установки шрифта объекта"
  frRes + 307, "Использовать фиксированные установки:"
  frRes + 308, "Имя шрифта:"
  frRes + 309, "Размер:"
  frRes + 310, "Редактор скрипта"
  frRes + 311, "Русские имена свойств"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Новый отчет"
  frRes + 319, "Описание"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Новый шаблон"
  frRes + 321, "&Комментарий"
  frRes + 322, "Картинка"
  frRes + 323, "&Обзор..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Словарь данных"
  frRes + 341, "Переменные"
  frRes + 342, "Данные из БД"
  frRes + 343, "Источники данных для бэндов"
  frRes + 344, "&Переменные"
  frRes + 345, "&Значения"
  frRes + 346, "&Выражение"
  frRes + 347, "Новая категория"
  frRes + 348, "Новая переменная"
  frRes + 349, "Редактировать"
  frRes + 350, "Удалить"
  frRes + 351, "Редактировать список"
  frRes + 352, "Данные и поля"
  frRes + 353, "Все данные"
  frRes + 354, "&Опции"
  frRes + 355, "&Псевдоним"
  frRes + 356, "&Исключить поле из списка"
  frRes + 357, "Источники данных"
  frRes + 358, "Все источники данных"
  frRes + 359, "Со&хранить..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Список переменных"
  frRes + 361, "&Категории и переменные"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Параметры отчета"
  frRes + 371, "Принтер"
  frRes + 372, "&Выбирать при открытии отчета"
  frRes + 373, "Прочие"
  frRes + 374, "Делать два &прохода"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Параметры страницы"
  frRes + 391, "Бумага"
  frRes + 392, "Ориентация"
  frRes + 393, "&Портретная"
  frRes + 394, "&Альбомная"
  frRes + 395, "Размер"
  frRes + 396, "&Ширина, мм"
  frRes + 397, "&Высота, мм"
  frRes + 398, "Поля"
  frRes + 399, "Поля страницы"
  frRes + 400, "&Левое, мм"
  frRes + 401, "&Верхнее, мм"
  frRes + 402, "&Правое, мм"
  frRes + 403, "&Нижнее, мм"
  frRes + 404, "&Растянуть на область печати"
  frRes + 405, "Параметры"
  frRes + 406, "Параметры"
  frRes + 407, "Печать на предыдущем &листе"
  frRes + 408, "Колонки"
  frRes + 409, "&Количество"
  frRes + 410, "&Промежуток, мм"
  frRes + 411, "Источник"
  frRes + 412, "Источник бумаги"
  frRes + 413, "&Неограниченная высота"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Формат переменной"
  frRes + 421, "Формат переменной"
  frRes + 422, "&Дес. знаков"
  frRes + 423, "&Разделитель дроби"
  frRes + 424, "&Формат:"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Переменные"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Вставка поля БД"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Рисунок"
  frRes + 461, "&Растянуть"
  frRes + 462, "&Загрузить"
  frRes + 463, "&Очистить"
  frRes + 464, "&Мемо"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Источник данных"
  frRes + 481, "&Источник"
  frRes + 482, "&Количество записей"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Источники данных"
  frRes + 486, "Секции"
  frRes + 487, "Источник"
  frRes + 488, "&Количество записей"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Группа"
  frRes + 491, "&Условие"
  frRes + 492, "Выбор поля БД"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Новая секция"
  frRes + 511, "Тип секции"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Условное выделение"
  frRes + 521, "Условие"
  frRes + 522, "Текст"
  frRes + 523, "&Цвет..."
  frRes + 524, "&Утолщенный"
  frRes + 525, "&Курсив"
  frRes + 526, "Под&черкивание"
  frRes + 527, "Фон"
  frRes + 528, "Ц&вет..."
  frRes + 529, "&Прозрачный"
  frRes + 530, "&Другой"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "О программе"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE объект"
  frRes + 551, "&Вставить"
  frRes + 552, "&Редактировать"
  frRes + 553, "&Закрыть"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Редактор Rich Edit"
  frRes + 561, "Открыть файл"
  frRes + 562, "Сохранить в файле"
  frRes + 563, "Отменить"
  frRes + 564, "Утолщение"
  frRes + 565, "Наклон"
  frRes + 566, "Выравнивание влево"
  frRes + 567, "Выравнивание по центру"
  frRes + 568, "Выравнивание вправо"
  frRes + 569, "Подчеркивание"
  frRes + 570, "Список"
  frRes + 571, "Шрифт"
  frRes + 572, "Отменить"
  frRes + 573, "Запомнить"
  frRes + 574, "Var"
  frRes + 575, "Вставить выражение"
  frRes + 576, "Выбор шрифта"
  frRes + 577, "Размер шрифта"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Диаграмма"
  frRes + 591, "Тип"
  frRes + 592, "Данные"
  frRes + 593, "Тип диаграммы"
  frRes + 594, "Имя объекта"
  frRes + 595, "Опции"
  frRes + 596, "&Объемная"
  frRes + 597, "О&диночная"
  frRes + 598, "С &подписью"
  frRes + 599, "С о&сями"
  frRes + 600, "С по&метками"
  frRes + 601, "Разно&цветная"
  frRes + 602, "Для &подписи"
  frRes + 603, "Для &данных"
  frRes + 604, "Пометки"
  frRes + 605, "Стиль"
  frRes + 606, "&Значение"
  frRes + 607, "&Процент"
  frRes + 608, "&Название"
  frRes + 609, "Название и про&цент"
  frRes + 610, "Название и зна&чение"
  frRes + 611, "Top10 группировка"
  frRes + 612, "&Отображать"
  frRes + 613, "&Подпись"
  frRes + 614, "значений"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Вставка полей БД"
  frRes + 631, "&Данные"
  frRes + 632, "Расположение"
  frRes + 633, "По &горизонтали"
  frRes + 634, "По &вертикали"
  frRes + 635, "Включая &заголовки"
  frRes + 636, "Включая бэн&ды"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Редактор штрих-кода"
  frRes + 651, "&Код"
  frRes + 652, "&Тип штрихкода"
  frRes + 653, "Опции"
  frRes + 654, "Контрольная &сумма"
  frRes + 655, "&Подпись"
  frRes + 656, "Вставить выражение"
  frRes + 657, "Вставить переменную"
  frRes + 658, "Ориентация"
  frRes + 659, "&Масштаб:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Прямоугольник с тенью"
  frRes + 671, "Образец:"
  frRes + 672, "&Выражение..."
  frRes + 673, "&Поле БД..."
  frRes + 674, "&Градиент"
  frRes + 675, "&Размер тени"
  frRes + 676, "Цвет"
  frRes + 677, "&Закругление"
  frRes + 678, "&Обрамить"
  frRes + 679, "Конечный цвет"
  frRes + 680, "Начальный цвет"
  frRes + 681, "&Стиль"
  frRes + 682, "Вертикальный,Горизонтальный,Эллипс,Прямоугольный,Гориз._центр,Верт._центр"
  frRes + 683, "Щелкните здесь для выбора цвета"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Вставка выражения"
  frRes + 701, "Выражение"
  frRes + 702, "Вставка"
  frRes + 703, "&Поле БД..."
  frRes + 704, "&Переменная..."
  frRes + 705, "&Функция..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Доступные функции"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Аргументы функции"
  frRes + 731, "Аргумент"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Тэг объекта"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Вид кросс-таб"
  frRes + 751, "Данные"
  frRes + 752, "Итоги"
  frRes + 753, "Функция"
  frRes + 754, "Редактор кросс-таб"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Удалить страницу?"
  SConfirm, "Подтверждение"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 мм"
  SPaper9, "A4 210 x 297 мм"
  SPaper10, "A4 small sheet, 210 x 297 мм"
  SPaper11, "A5 148 x 210 мм"
  SPaper12, "B4 250 x 354 мм"
  SPaper13, "B5 182 x 257 мм"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 мм"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 мм"
  SPaper28, "C5 Envelope, 162 x 229 мм"
  SPaper29, "C3 Envelope,  324 x 458 мм"
  SPaper30, "C4 Envelope,  229 x 324 мм"
  SPaper31, "C6 Envelope,  114 x 162 мм"
  SPaper32, "C65 Envelope, 114 x 229 мм"
  SPaper33, "B4 Envelope,  250 x 353 мм"
  SPaper34, "B5 Envelope,  176 x 250 мм"
  SPaper35, "B6 Envelope,  176 x 125 мм"
  SPaper36, "Italy Envelope, 110 x 230 мм"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 мм"
  SPaper43, "Japanese Postcard 100 x 148 мм"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 мм"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 мм"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 мм"
  SPaper58, "SuperBSuperBA3 305 x 487 мм"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 мм"
  SPaper61, "A5 Transverse 148 x 210 мм"
  SPaper62, "B5 (JIS) Transverse 182 x 257 мм"
  SPaper63, "A3 Extra 322 x 445 мм"
  SPaper64, "A5 Extra 174 x 235 мм"
  SPaper65, "B5 (ISO) Extra 201 x 276 мм"
  SPaper66, "A2 420 x 594 мм"
  SPaper67, "A3 Transverse 297 x 420 мм"
  SPaper68, "A3 Extra Transverse 322 x 445 мм"
  SPaper256, "Другой"
  SSystemVariables, "Системные переменные"
  SVar1, "Страница"
  SVar2, "Выражение"
  SVar3, "Дата"
  SVar4, "Время"
  SVar5, "Строка"
  SVar6, "Line through#"
  SVar7, "Колонка"
  SVar8, "Current line#"
  SVar9, "Всего страниц"
  SStretched, "Растягиваемый"
  SVarFormat, "Формат переменной..."
  SWordWrap, "Перенос слов"
  SWordBreak, "Перенос по слогам"
  SFormNewPage, "Формировать новую страницу"
  SPrintIfSubsetEmpty, "Печатать, если Detail пуст"
  SBreaked, "Разрываемый"
  SPictureCenter, "Центрировать"
  SKeepAspectRatio, "Сохранять пропорции"
  SFormFile, "Форма FastReport"
  SForm3File, "Форма FastReport3"
  STemplFile, "Шаблон FastReport"
  SDictFile, "Словарь данных FastReport"
  SPictFile, "Графические файлы"
  SBMPFile, "Рисунок ВМР"
  SAllFiles, "Все файлы"
  SInsOLEObject, "Вставить OLE объект"
  SInsRichObject, "Вставить RichText объект"
  SInsRich2Object, "Вставить RX RichText объект"
  SInsCheckBox, "Вставить CheckBox объект"
  SInsChart, "Вставить диаграмму"
  SInsShape, "Вставить фигуру"
  SInsBarcode, "Вставить штрихкод"
  SInsRoundRect, "Вставить прямоугольник с тенью"
  SSubReportOnPage, "SubReport на странице"
  SPicture, "[Рисунок]"
  STransparent, "Прозрачный"
  SOther, "Другой..."
  SOnFirstPage, "На первой странице"
  SOnLastPage, "На последней странице"
  SRepeatHeader, "Выводить на всех страницах"
  SDesignReport, "Дизайнер"
  SInsertFields, "Вставка полей БД в отчет"
  SSaveChanges, "Сохранить изменения"
  STo, "в"
  SPixels, "Пикселы"
  SMM, "Миллиметры"
  SInches, "Дюймы"
  SVirtualDataset, "Виртуальный"
  SAutoSize, "Авторазмер"
  SFRVariables, "Переменные FR"
  SClearContents, "Очистить содержимое"

  SAllCategories, "Все функции"
  SAggregateCategory, "Агрегатные"
  SDateTimeCategory, "Дата и время"
  SStringCategory, "Строковые"
  SOtherCategory, "Прочие"
  SMathCategory, "Арифметические"
  SBoolCategory, "Логические"
  SIntrpCategory, "Интерпретатор"

  SDescriptionAVG, "AVG(<Выражение> [,ИмяБэнда [,1]])/"
    "Вычисляет среднее арифметическое выражения <Выражение> для строк данных [ИмяБэнда]. "
    "Если задан параметр [1], в расчет включаются также невидимые бэнды. "

  SDescriptionCOUNT, "COUNT(<ИмяБэнда>)/"
    "Возвращает количество строк данных, образованных бэндом <ИмяБэнда>. "
    "Пример: Count(Band1)."

  SDescriptionDAYOF, "DAYOF(<Дата>)/"
    "Возвращает день (1..31) даты <Дата>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Формат>, <ДатаВремя>)/"
    "Конвертирует значение <ДатаВремя> в строку с использованием "
    "строки форматирования <Формат>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Формат>, <Число>)/"
    "Конвертирует значение <Число> в строку с использованием "
    "строки форматирования <Формат>."

  SDescriptionINPUT, "INPUT(<Заголовок> [,Значение])/"
    "Выводит на экран диалоговое окно с заголовком <Заголовок> и "
    "строкой ввода. Если задан параметр [Значение], то он появится "
    "в строке ввода. После ввода пользователя возвращает введенную строку."

  SDescriptionLENGTH, "LENGTH(<Строка>)/"
    "Возвращает длину строки <Строка>."

  SDescriptionLOWERCASE, "LOWERCASE(<Строка>)/"
    "Преобразует сроку <Строка> в нижний регистр и возвращает результат."

  SDescriptionMAX, "MAX(<Выражение> [,ИмяБэнда [,1]])/"
    "Вычисляет максимум выражения <Выражение> для строк данных [ИмяБэнда]. "
    "Если задан параметр [1], в расчет включаются также невидимые бэнды. "

  SDescriptionMIN, "MIN(<Выражение> [,ИмяБэнда [,1]])/"
    "Вычисляет минимум выражения <Выражение> для строк данных [ИмяБэнда]. "
    "Если задан параметр [1], в расчет включаются также невидимые бэнды. "

  SDescriptionMONTHOF, "MONTHOF(<Дата>)/"
    "Возвращает месяц (1..12) даты <Дата>."

  SDescriptionNAMECASE, "NAMECASE(<Строка>)/"
    "Преобразует символы строки <Строка> в нижний регистр, "
    "а первый символ в верхний регистр."

  SDescriptionSTRTODATE, "STRTODATE(<Строка>)/"
    "Преобразует строку <Строка> в дату."

  SDescriptionSTRTOTIME, "STRTOTIME(<Строка>)/"
    "Преобразует строку <Строка> во время."

  SDescriptionSUM, "SUM(<Выражение> [,ИмяБэнда [,1]])/"
    "Вычисляет сумму выражения <Выражение> для строк данных [ИмяБэнда]. "
    "Если задан параметр [1], в расчет включаются также невидимые бэнды. "

  SDescriptionTRIM, "TRIM(<Строка>)/"
    "Отбрасывает пробелы в начале и конце строки <Строка> и возвращает результат."

  SDescriptionUPPERCASE, "UPPERCASE(<Строка>)/"
    "Преобразует сроку <Строка> в верхний регистр и возвращает результат."

  SDescriptionYEAROF, "YEAROF(<Дата>)/"
    "Возвращает год (4 разряда) даты <Дата>."

  SDescriptionIF, "IF(<Выражение>, <Значение1>, <Значение2>)/"
    "Возвращает <Значение1>, если выражение <Выражение> истинно; "
    "иначе возвращает <Значение2>."

  SDescriptionCOPY, "COPY(<Строка>, <Начало>, <Длина>)/"
    "Возвращает подстроку строки <Строка>."

  SDescriptionMOD, "<Число1> MOD <Число2>/"
    "Возвращает остаток от деления <Число1> на <Число2>."

  SDescriptionSTR, "STR(<Число>)/"
    "Преобразует число <Число> в строку."

  SDescriptionNOT, "NOT <Значение>/"
    "Логическое отрицание."

  SDescriptionAND, "<Значение1> AND <Значение2>/"
    "Логическое 'И'."

  SDescriptionOR, "<Значение1> OR <Значение2>/"
    "Логическое 'ИЛИ'."

  SDescriptionROUND, "ROUND(<Число>)/"
    "Возвращает округленное число."

  SDescriptionFRAC, "FRAC(<Число>)/"
    "Возвращает дробную часть числа."

  SDescriptionINT, "INT(<Число>)/"
    "Возвращает целую часть числа."

  SDescriptionTRUE, "TRUE/"
    "Логическое 'ДА'."

  SDescriptionFALSE, "FALSE/"
    "Логическое 'НЕТ'."

  SDescriptionPAGE, "PAGE#/"
    "Возвращает номер текущей страницы отчета."

  SDescriptionDATE, "DATE/"
    "Возвращает дату."

  SDescriptionTIME, "TIME/"
    "Возвращает время."

  SDescriptionLINE, "LINE#/"
    "Возвращает номер строки данных; нумерация начинается с начала группы."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Возвращает номер строки данных; нумерация начинается с начала отчета."

  SDescriptionCOLUMN, "COLUMN#/"
    "Возвращает номер колонки."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Возвращает общее количество страниц в отчете."

  SDescriptionMROK, "MROK/"
    "Константа."

  SDescriptionMRCancel, "MRCANCEL/"
    "Константа."

  SDescriptionCurY, "CURY/"
    "Возвращает позицию по 'Y' (в пикселах), с которой будет выведен "
    "текущий бэнд. Этому свойству можно также присваивать значение."

  SDescriptionFreeSpace, "FREESPACE/"
    "Возвращает размер свободного места на странице в пикселах."

  SDescriptionFinalPass, "FINALPASS/"
    "Возвращает истину, если выполняется последний проход для "
    "двухпроходных отчетов."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Возвращает высоту страницы в пикселах."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Возвращает ширину страницы в пикселах."

  SDescriptionProgress, "PROGRESS/"
    "Значение, присвоенное этому свойству, будет отображено в окне прогресса."

  SDescriptionModalResult, "MODALRESULT/"
    "Ненулевое значение, присвоенное этому свойству, закроет диалоговое окно."

  SDescriptionStopReport, "STOPREPORT/"
    "Останавливает построение отчета."

  SDescriptionNewPage, "NEWPAGE/"
    "Формирует разрыв страницы."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Формирует разрыв колонки."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Показывает бэнд с именем <BandName>."

  SDescriptionINC, "INC(<Число>)/"
    "Увеличивает <Число> на 1."

  SDescriptionDEC, "DEC(<Число>)/"
    "Уменьшает <Число> на 1."

  SDescriptionMAXNUM, "MAXNUM(<Число1>, <Число2>)/"
    "Возвращает максимальное из двух значений."

  SDescriptionMINNUM, "MINNUM(<Число1>, <Число2>)/"
    "Возвращает минимальное из двух значений."

  SDescriptionPOS, "POS(<Подстрока>, <Строка>)/"
    "Возвращает позицию подстроки в строке."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Текст>, <Заголовок>, <Кнопки>)/"
    "Показывает стандартный диалог с заголовком, текстом и кнопками."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Маска>, <Строка>)/"
    "Применяет <Маску> к <Строке> и возвращает форматированную строку."


  SInformation, "Информация"
  SExpressionOK, "Ошибок в выражении не обнаружено"
  STextOnly, "Только текст"
  SSuppressRepeated, "Скрывать повторяющиеся"
  SDefaultBin, "По умолчанию"
  SDeleteObjects, "Это приведет к удалению всех объектов на странице."
  SWarning, "Предупреждение"
  SHideZeros, "Скрывать нулевые значения"
  SPrintChild, "Выводить child если невидимый"
  SUnderlines, "Линии подчеркивания"
  SOnePerPage, "Нельзя помещать два или более объектов %s на одну страницу."
  SInsertCrosstab, "Вставить Кросс-таб объект"
}
