comp5/comptapi/AsyncPro/**/*
comp5/comptapi

gedemin/Bank/IMPORT/Archive/**/*

gedemin/DCU/*.*

*.dsk

/Gedemin/Utility/Replace/Replace.cfg
/Gedemin/Utility/Replace/Replace.dof
/Gedemin/EXE/UDF/gudf.dll
/Gedemin/EXE/databases.ini
/Gedemin/EXE/firebird.log
/Gedemin/EXE/ftp_commands.txt
/Gedemin/EXE/gdcc.exe
/Gedemin/EXE/gedemin.exe
/Gedemin/EXE/gedemin.ini
/Gedemin/EXE/gedemin_upd.exe
/Gedemin/EXE/invoke.log
/Gedemin/Setup/Bootstrap/ftp_commands.txt
/Gedemin/Test/GedeminTest/GedeminTest.cfg
/Gedemin/Test/GedeminTest/GedeminTest.dof
/Gedemin/Utility/FDBConvertPortable/other/source/FDBConvert.cfg
/Gedemin/Utility/FDBConvertPortable/other/source/FDBConvert.dof
/Gedemin/Utility/IncVerRC/incverrc.cfg
/Gedemin/Utility/IncVerRC/incverrc.dof
/Gedemin/Utility/MakeLBRBTree/makelbrbtree.cfg
/Gedemin/Utility/MakeLBRBTree/makelbrbtree.dof
/Gedemin/GUDF/Gudf.cfg
/Gedemin/GUDF/Gudf.dof
/Gedemin/Gedemin/gdcc.cfg
/Gedemin/Gedemin/gdcc.dof
/Gedemin/Gedemin/gedemin.cfg
/Gedemin/Gedemin/gedemin.dof
/Gedemin/Gedemin/gedemin_upd.dof
/Gedemin/Gedemin/gedemin_ver.res
/Gedemin/BPL/Fr5.bpl
/Gedemin/BPL/Fr5.dcp
/Gedemin/BPL/SynEdit_D5.bpl
/Gedemin/BPL/SynEdit_D5.dcp
/Gedemin/BPL/dclfrx5.bpl
/Gedemin/BPL/dclfrx5.dcp
/Gedemin/BPL/fqb50.bpl
/Gedemin/BPL/fqb50.dcp
/Gedemin/BPL/frx5.bpl
/Gedemin/BPL/frx5.dcp
/Gedemin/BPL/fs5.bpl
/Gedemin/BPL/fs5.dcp
/Gedemin/BPL/greference.bpl
/Gedemin/BPL/greference.dcp
/Gedemin/BPL/tb2k_d5.bpl
/Gedemin/BPL/tb2k_d5.dcp
/Gedemin/BPL/tb2kdsgn_d5.bpl
/Gedemin/BPL/tb2kdsgn_d5.dcp
/Gedemin/Component/SynEdit/Packages/SynEdit_D5.cfg
/Gedemin/Component/SynEdit/Packages/SynEdit_D5.dof
/Gedemin/Component/SynEdit/Packages/SynEdit_D5.dsm
/Gedemin/Component/Visual Studio Code.lnk
/Gedemin/Component/indy/dclIndy50.cfg
/Gedemin/Component/indy/dclIndy50.dof
/Gedemin/Component/tb2k/Packages/tb2k_d5.dof
/Gedemin/Component/tb2k/Packages/tb2kdsgn_d5.cfg
/Gedemin/Component/tb2k/Packages/tb2kdsgn_d5.dof
/Gedemin/FastReport/source/Fr5.cfg
/Gedemin/FastReport/source/Fr5.dof
/Gedemin/GReference/greference.cfg
/Gedemin/GReference/greference.dof
/Gedemin/gedemin.bpg
/Gedemin/EXE/gedemin.tds
/Gedemin/bpl
/Gedemin/GUDF/FindCompare.dcu
/dsad
/Gedemin/GUDF64/Gudf.cfg
/Gedemin/GUDF64/Gudf.dof
/Gedemin/Utility/FDBSqueeze/gsDBSqueeze.dof
/Gedemin/Utility/FDBSqueeze/gsDBSqueeze.cfg
/Gedemin/SQL/makelbrbtree.exe
/Gedemin/FastReport 4/FastQB/fqb50.dof
/Gedemin/FastReport 4/FastScript/fs5.cfg
/Gedemin/FastReport 4/FastScript/fs5.dof
/Gedemin/FastReport 4/Source/dclfrx5.dof
/Gedemin/FastReport 4/Source/frx5.cfg
/Gedemin/FastReport 4/Source/frx5.dof

gedemin/CassLib
comp5/SuperIBEA
gedemin/Bank/report
gedemin/Bank/IMPORT
gedemin/Component/QExport
gedemin/Obsolete
gedemin/Component/TeeChart/Sources/Compiled
gedemin/Component/SynEdit/Demos
gedemin/component/TeeChart
gedemin/doc/BMKK
gedemin/FastReport 4/Demos
gedemin/FastReport/demos

