Gedemin/Gedemin/gedemin.res
Gedemin/Gedemin/gedemin_ver.res
Gedemin/SQL/etalon.sql
Gedemin/Component/TeeChart
Gedemin/BPL
Gedemin/Component/QExport
Gedemin/Component/SynEdit/Demos
Gedemin/Component/indy/Indy9Demos
Gedemin/Obsolete
Gedemin/FastReport 4/Demos
Gedemin/Doc/BMKK
Gedemin/Doc/Manual
Gedemin/FastReport/demos
Gedemin/Help
*.dsk
Gedemin/Wage/Doc
