#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Report datasets"
  frRes + 3001, "&Properties..."
  frRes + 3002, "New &table..."
  frRes + 3003, "New &query..."
  frRes + 3004, "&Remove"
  frRes + 3005, "&Close"
  frRes + 3006, "New &database..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "General"
  frRes + 3021, "&Name"
  frRes + 3022, "&Fields"
  frRes + 3023, "&Fields editor..."
  frRes + 3024, "Other"
  frRes + 3025, "&Index"
  frRes + 3026, "Filter &expression"
  frRes + 3027, "&Master"
  frRes + 3028, "Ma&ster fileds"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Add fields..."
  frRes + 3041, "Add &lookup..."
  frRes + 3042, "&Select all"
  frRes + 3043, "&Delete"
  frRes + 3044, "&Exit"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Available fields"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "New lookup field"
  frRes + 3071, "Field"
  frRes + 3072, "&Name"
  frRes + 3073, "&Type"
  frRes + 3074, "&Size"
  frRes + 3075, "Lookup definition"
  frRes + 3076, "&Key field"
  frRes + 3077, "&Dataset"
  frRes + 3078, "&Lookup key"
  frRes + 3079, "&Result field"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Query properties"
  frRes + 3091, "Other"
  frRes + 3092, "&Master dataset"
  frRes + 3093, "General"
  frRes + 3094, "&Name"
  frRes + 3095, "&Alias or path"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Fields editor..."
  frRes + 3098, "&Params editor..."
  frRes + 3099, "Load SQL from file"
  frRes + 3100, "Save SQL to file"
  frRes + 3101, "SQL builder..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parameters"
  frRes + 3111, "&Data type"
  frRes + 3112, "&Name"
  frRes + 3113, "&Value:"
  frRes + 3114, "&Ask for value before printing"
  frRes + 3115, "Assign value from &master dataset"
  frRes + 3116, "Va&riable:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detail fields"
  frRes + 3131, "&Master fields"
  frRes + 3132, "&Joined fields"
  frRes + 3133, "&Add"
  frRes + 3134, "&Clear"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parameters"
  frRes + 3151, "4 points"
  frRes + 3152, "8 points"
  frRes + 3153, "Grid align"
  frRes + 3154, "Close"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Properties"
  frRes + 3171, "&Text"
  frRes + 3172, "&Font..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&Dataset"
  frRes + 3175, "&Key field"
  frRes + 3176, "&List field"
  frRes + 3177, "Kind"
  frRes + 3178, "&Edit"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "&Autosize"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Database properties"
  frRes + 3201, "General"
  frRes + 3202, "Parameters"
  frRes + 3203, "&Name"
  frRes + 3204, "&Connection string"  ; for ADO
  frRes + 3205, "&File name"          ; for IBX
  frRes + 3206, "&Alias name"         ; for BDE
  frRes + 3207, "&Driver name"
  frRes + 3208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Select table"
  frRes + 3221, "Select from database"
  frRes + 3222, "Select from file"
  frRes + 3223, "&Database"
  frRes + 3224, "&Table"
  frRes + 3225, "&Browse..."
;--- Strings resources -------------------------------------------------------
  SFields, "fields"
  SPath, "Path"
  SRemoveDS, "Delete this component?"
  STables, "Tables"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Data manager"
  SParams, "parameters"
  SQueryError, "Invalid SQL statement or parameters"
  STableProps, "Table properties"
  SParamDialog, "Parameters dialog"
  SInvalidParamValue, "Invalid parameter value"
  SDatabase, "Databases"
  SFieldSizeError, "Invalid field size"
}
