<html>
<head>
<title>
Page title
</title>
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<table width="100%">
<td width="100%"  bgcolor=#FFFFA0>
<div class=h1text>
Unit gd_transaction.pas
</div>
<div class=regtext>
Path: 
<a href="d:\golden\gedemin\transaction\gd_transaction.pas">
d:\golden\gedemin\transaction\gd_transaction.pas
</a>
<br>
Classes Types Constants Variables Routines
</div>
</td>
</table>
<table width = "100%">
<td width = "100%">
<div class=regtext>
text text textksjdlbfksj  sdlkgfjf g
fhfth
ffgh
fgh
fh
</div>
</td>
</table>
</body>
</html>