-$A+
-$B-
-$C+
-$D+
-$E-
-$F-
-$G+
-$H+
-$I+
-$J+
-$K-
-$L+
-$M-
-$N+
-$O-
-$P+
-$Q-
-$R-
-$S-
-$T-
-$U-
-$V+
-$W-
-$X+
-$YD
-$Z1
-cg
-AWinTypes=Windows;WinProcs=Windows;DbiTypes=BDE;DbiProcs=BDE;DbiErrs=BDE;
-H+
-W+
-M
-$M16384,1048576
-K$00400000
-E"..\app\FDBConvert"
-N"..\..\..\DCU"
-LE"..\..\..\Bpl"
-LN"..\..\..\Bpl"
-U"..\..\..\IBX;..\..\..\DCU;..\..\..\setup;..\..\..\Common;..\..\..\gedemin;..\..\..\Component\SynEdit\Source"
-O"..\..\..\IBX;..\..\..\DCU;..\..\..\setup;..\..\..\Common;..\..\..\gedemin;..\..\..\Component\SynEdit\Source"
-I"..\..\..\IBX;..\..\..\DCU;..\..\..\setup;..\..\..\Common;..\..\..\gedemin;..\..\..\Component\SynEdit\Source"
-R"..\..\..\IBX;..\..\..\DCU;..\..\..\setup;..\..\..\Common;..\..\..\gedemin;..\..\..\Component\SynEdit\Source"
