#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Object inspector"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Text editor"
  frRes + 61, "Insert expression"
  frRes + 62, "Insert data field"
  frRes + 63, "Word wrap"
  frRes + 64, "Show/hide script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Rectangle"
  frRes + 82, "Standard"
  frRes + 83, "Text"
  frRes + 84, "Objects"
  frRes + 85, "Alignment"
  frRes + 86, "Tools"
  frRes + 87, "New report"
  frRes + 88, "Open report"
  frRes + 89, "Save report"
  frRes + 90, "Preview report"
  frRes + 91, "Cut"
  frRes + 92, "Copy"
  frRes + 93, "Paste"
  frRes + 94, "Undo last action"
  frRes + 95, "Redo cancelled action"
  frRes + 96, "Bring to front"
  frRes + 97, "Send to back"
  frRes + 98, "Select all"
  frRes + 99, "Add page"
  frRes + 100, "Remove page"
  frRes + 101, "Page options"
  frRes + 102, "Grid"
  frRes + 103, "Grid align"
  frRes + 104, "Fit to grid"
  frRes + 105, "Close"
  frRes + 106, "Close designer"
  frRes + 107, "Left align"
  frRes + 108, "Right align"
  frRes + 109, "Center align"
  frRes + 110, "Normal text / 90 degrees"
  frRes + 111, "Vertical center"
  frRes + 112, "Top align"
  frRes + 113, "Bottom align"
  frRes + 114, "Width align"
  frRes + 115, "Bold"
  frRes + 116, "Italic"
  frRes + 117, "Underline"
  frRes + 118, "Font color"
  frRes + 119, "Conditional highlightning"
  frRes + 120, "Font size"
  frRes + 121, "Font name"
  frRes + 122, "Top frame line"
  frRes + 123, "Left frame line"
  frRes + 124, "Bottom frame line"
  frRes + 125, "Right frame line"
  frRes + 126, "All frame lines"
  frRes + 127, "No frame"
  frRes + 128, "Background color"
  frRes + 129, "Frame color"
  frRes + 130, "Frame width"
  frRes + 131, "Frame width"
  frRes + 132, "Select object"
  frRes + 133, "Insert rectangle object"
  frRes + 134, "Insert band"
  frRes + 135, "Insert picture"
  frRes + 136, "Insert subreport"
  frRes + 137, "Draw lines"
  frRes + 138, "Align left edges"
  frRes + 139, "Align horizontal centers"
  frRes + 140, "Center horizontally in window"
  frRes + 141, "Space equally, horizontally"
  frRes + 142, "Align right edges"
  frRes + 143, "Align tops"
  frRes + 144, "Align vertical centers"
  frRes + 145, "Center vertically in window"
  frRes + 146, "Space equally, vertically"
  frRes + 147, "Align bottoms"
  frRes + 148, "C&ut"
  frRes + 149, "&Copy"
  frRes + 150, "&Paste"
  frRes + 151, "&Delete"
  frRes + 152, "Select &all"
  frRes + 153, "&Edit..."
  frRes + 154, "&File"
  frRes + 155, "&New..."
  frRes + 156, "&Open..."
  frRes + 157, "&Save"
  frRes + 158, "&Data dictionary..."
  frRes + 159, "&Report options..."
  frRes + 160, "&Page options..."
  frRes + 161, "Pre&view"
  frRes + 162, "E&xit"
  frRes + 163, "&Edit"
  frRes + 164, "&Undo"
  frRes + 165, "&Redo"
  frRes + 166, "C&ut"
  frRes + 167, "&Copy"
  frRes + 168, "&Paste"
  frRes + 169, "&Delete"
  frRes + 170, "&Select all"
  frRes + 171, "&Edit..."
  frRes + 172, "&Add page"
  frRes + 173, "&Remove page"
  frRes + 174, "Bring to &front"
  frRes + 175, "Send to &back"
  frRes + 176, "&Tools"
  frRes + 177, "&Toolbars"
  frRes + 178, "Too&ls"
  frRes + 179, "&Options..."
  frRes + 180, "&Rectangle"
  frRes + 181, "&Standard"
  frRes + 182, "&Text"
  frRes + 183, "&Objects"
  frRes + 184, "Object &Inspector"
  frRes + 185, "&Alignment palette"
  frRes + 186, "Too&ls"
  frRes + 187, "&About..."
  frRes + 188, "Save &as..."
  frRes + 189, "&Help contents"
  frRes + 190, "Help &tool"
  frRes + 191, "Line style"
  frRes + 192, "Add dialog &form"
  frRes + 193, "Add dialog form"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Object's restrictions"
  frRes + 261, "Don't edit &memo"
  frRes + 262, "Don't edit &script"
  frRes + 263, "Don't edit &contents"
  frRes + 264, "Don't mo&dify"
  frRes + 265, "Don't change si&ze"
  frRes + 266, "Don't mo&ve"
  frRes + 267, "Don't de&lete"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Options"
  frRes + 281, "Designer"
  frRes + 282, "Grid"
  frRes + 283, "Drawing objects"
  frRes + 284, "Report units"
  frRes + 285, "Grid size"
  frRes + 286, "&Show grid"
  frRes + 287, "Align to &grid"
  frRes + 288, "Colored &buttons"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "Show object &contents when moving or resizing"
  frRes + 294, "&Pixels"
  frRes + 295, "&MM"
  frRes + 296, "&Inches"
  frRes + 297, "Other"
  frRes + 298, "&Editing after insert"
  frRes + 299, "Show band &titles"
  frRes + 300, "Page position"
  frRes + 301, "Cente&r"
  frRes + 302, "Le&ft"
  frRes + 303, "Rig&ht"
  frRes + 304, "Editor"
  frRes + 305, "Text editor"
  frRes + 306, "&Use object's font settings"
  frRes + 307, "Use &fixed setting:"
  frRes + 308, "Font name:"
  frRes + 309, "Size:"
  frRes + 310, "Script editor"
  frRes + 311, "Localized property names"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "New report"
  frRes + 319, "Description"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "New report template"
  frRes + 321, "&Comment"
  frRes + 322, "Icon"
  frRes + 323, "&File..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Data dictionary"
  frRes + 341, "Variables"
  frRes + 342, "Field aliases"
  frRes + 343, "Band datasources"
  frRes + 344, "Va&riables"
  frRes + 345, "Va&lues"
  frRes + 346, "E&xpression"
  frRes + 347, "New category"
  frRes + 348, "New variable"
  frRes + 349, "Edit"
  frRes + 350, "Delete"
  frRes + 351, "Edit list"
  frRes + 352, "Datasets and fields"
  frRes + 353, "All datasets"
  frRes + 354, "&Appearance"
  frRes + 355, "A&lias"
  frRes + 356, "E&xclude field from list"
  frRes + 357, "Datasources"
  frRes + 358, "All datasources"
  frRes + 359, "&Save..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Variables list"
  frRes + 361, "&Categories and variables"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Report options"
  frRes + 371, "Printer"
  frRes + 372, "&Select when report loaded"
  frRes + 373, "Other"
  frRes + 374, "&Two-pass report"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Page options"
  frRes + 391, "Paper"
  frRes + 392, "Orientation"
  frRes + 393, "&Portrait"
  frRes + 394, "&Landscape"
  frRes + 395, "Size"
  frRes + 396, "&Width, mm"
  frRes + 397, "&Height, mm"
  frRes + 398, "Margins"
  frRes + 399, "Page margins"
  frRes + 400, "&Left, mm"
  frRes + 401, "&Top, mm"
  frRes + 402, "&Right, mm"
  frRes + 403, "&Bottom, mm"
  frRes + 404, "&Stretch to print area"
  frRes + 405, "Options"
  frRes + 406, "Options"
  frRes + 407, "&Print to previous page"
  frRes + 408, "Columns"
  frRes + 409, "&Number"
  frRes + 410, "&Column gap, mm"
  frRes + 411, "Source"
  frRes + 412, "Paper source"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Variable formatting"
  frRes + 421, "Variable format"
  frRes + 422, "&Decimal digits"
  frRes + 423, "Decimal &separator"
  frRes + 424, "Custom &format"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variables"
  frRes + 441, "&Category:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Insert data field"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Picture"
  frRes + 461, "&Stretch"
  frRes + 462, "&Load..."
  frRes + 463, "&Clear"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Band data source"
  frRes + 481, "&Data source"
  frRes + 482, "&Record count"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Band data sources"
  frRes + 486, "Bands"
  frRes + 487, "Data source"
  frRes + 488, "&Record count"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Group"
  frRes + 491, "&Condition"
  frRes + 492, "Insert data field"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Insert new band"
  frRes + 511, "Band type"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Conditional highlightning"
  frRes + 521, "&Condition"
  frRes + 522, "Font"
  frRes + 523, "C&olor..."
  frRes + 524, "&Bold"
  frRes + 525, "&Italic"
  frRes + 526, "&Underline"
  frRes + 527, "Background"
  frRes + 528, "Co&lor..."
  frRes + 529, "&Transparent"
  frRes + 530, "Ot&her"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "About FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE object"
  frRes + 551, "&Insert..."
  frRes + 552, "&Edit..."
  frRes + 553, "&Close"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Open..."
  frRes + 562, "Save..."
  frRes + 563, "Undo"
  frRes + 564, "Bold"
  frRes + 565, "Italic"
  frRes + 566, "Left align"
  frRes + 567, "Center align"
  frRes + 568, "Right align"
  frRes + 569, "Underline"
  frRes + 570, "List"
  frRes + 571, "Font"
  frRes + 572, "Cancel"
  frRes + 573, "Save and exit"
  frRes + 574, "Var"
  frRes + 575, "Insert expression"
  frRes + 576, "Font"
  frRes + 577, "Font size"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Chart object"
  frRes + 591, "Type"
  frRes + 592, "Data"
  frRes + 593, "Type"
  frRes + 594, "Object name"
  frRes + 595, "Options"
  frRes + 596, "&3D"
  frRes + 597, "&Single"
  frRes + 598, "Show &legend"
  frRes + 599, "Show &axis"
  frRes + 600, "Show &marks"
  frRes + 601, "Multi-colo&r"
  frRes + 602, "For &legend"
  frRes + 603, "For &values"
  frRes + 604, "Marks"
  frRes + 605, "Style"
  frRes + 606, "Value"
  frRes + 607, "Percent"
  frRes + 608, "Label"
  frRes + 609, "Label and Percent"
  frRes + 610, "Label and Value"
  frRes + 611, "Top10 group"
  frRes + 612, "&Show top"
  frRes + 613, "La&bel"
  frRes + 614, "values"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Insert fields"
  frRes + 631, "&Available tables"
  frRes + 632, "Placement"
  frRes + 633, "&Horizontal"
  frRes + 634, "&Vertical"
  frRes + 635, "&Include headers"
  frRes + 636, "Include &bands"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Barcode editor"
  frRes + 651, "&Code"
  frRes + 652, "&Type of barcode"
  frRes + 653, "Options"
  frRes + 654, "Check&sum"
  frRes + 655, "&Human readable"
  frRes + 656, "Insert expression"
  frRes + 657, "Insert variable"
  frRes + 658, "Rotation"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Property editor"
  frRes + 671, "Sample :"
  frRes + 672, "&Expression..."
  frRes + 673, "&DB field..."
  frRes + 674, "&Gradian"
  frRes + 675, "&Shadow width"
  frRes + 676, "Color"
  frRes + 677, "&Curve"
  frRes + 678, "&Framed zone"
  frRes + 679, "End Color"
  frRes + 680, "Begin color"
  frRes + 681, "&Style"
  frRes + 682, "Vertical,Horizontal,Elliptic,Rectangle,Horiz._Center,Vert._Center"
  frRes + 683, "Click here to define the shadow color or gradian colors"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Expression builder"
  frRes + 701, "Expression"
  frRes + 702, "Insert"
  frRes + 703, "&Data field..."
  frRes + 704, "&Variable..."
  frRes + 705, "&Function..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Available functions"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Function arguments"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Object tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Remove this page?"
  SConfirm, "Confirm"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Custom"
  SSystemVariables, "System variables"
  SVar1, "Page#"
  SVar2, "Expression"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "TotalPages"
  SStretched, "Stretched"
  SVarFormat, "Variable format..."
  SWordWrap, "Word wrap"
  SWordBreak, ""
  SFormNewPage, "Force new page"
  SPrintIfSubsetEmpty, "Print if detail empty"
  SBreaked, "Breaked"
  SPictureCenter, "Center picture"
  SKeepAspectRatio, "Keep aspect ratio"
  SFormFile, "FastReport form"
  SForm3File, "FastReport3 form"
  STemplFile, "FastReport template"
  SDictFile, "FastReport dictionary"
  SPictFile, "Picture file"
  SBMPFile, "Bitmap file"
  SAllFiles, "All files"
  SInsOLEObject, "Insert OLE object"
  SInsRichObject, "Insert RichText object"
  SInsRich2Object, "Insert RX RichText object"
  SInsCheckBox, "Insert CheckBox object"
  SInsChart, "Insert Chart object"
  SInsShape, "Insert Shape object"
  SInsBarcode, "Insert Barcode object"
  SInsRoundRect, "Insert an RoundRect with shadow area"
  SSubReportOnPage, "SubReport on page"
  SPicture, "[Picture]"
  STransparent, "Transparent"
  SOther, "Other..."
  SOnFirstPage, "On first page"
  SOnLastPage, "On last page"
  SRepeatHeader, "Show on all pages"
  SDesignReport, "Design report"
  SInsertFields, "Insert DB fields"
  SSaveChanges, "Save changes"
  STo, "to"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Inches"
  SVirtualDataset, "Virtual Dataset"
  SAutoSize, "Auto size"
  SFRVariables, "FR variables"
  SClearContents, "Clear contents"

  SAllCategories, "All functions"
  SAggregateCategory, "Aggregate"
  SDateTimeCategory, "Date and time"
  SStringCategory, "String"
  SOtherCategory, "Other"
  SMathCategory, "Math"
  SBoolCategory, "Boolean"
  SIntrpCategory, "Interpreter"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "Calculates the average of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates average for non-visible rows too."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Returns count of data-rows given in the <BandName>. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Returns day number (1..31) of given <Date>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Converts a <DateTime> value to a string using mask in <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Converts a <Numeric> value to a string using mask in <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "Shows dialog window with headstring <Caption> and edit box. "
    "If [Default] parameter is set, puts this string in edit box. "
    "After user clicks OK, returns input string."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Returns length of <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Converts <String> symbols to lower case."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "Calculates the maximum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates maximum for non-visible rows too."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "Calculates the minimum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates minimum for non-visible rows too."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Returns month number (1..12) of given <Date>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Converts <String> symbols to lower case, and first symbol "
    "is in upper case."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Converts <String> to date."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Converts <String> to time."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "Calculates the sum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates sum for non-visible rows too."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Trims all heading and trailing spaces in <String> and returns "
    "resulting string."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Converts <String> symbols to upper case."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Returns year of given <Date>."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Returns <Value1>, if expression <Expression> is True; "
    "otherwise returns <Value2>. Return value can be not only string."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Returns a substring of string."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Returns remainder from dividing <Value1> by <Value2>."

  SDescriptionSTR, "STR(<Value>)/"
    "Converts number given in <Value> to a string."

  SDescriptionNOT, "NOT <Value>/"
    "Logical 'NOT'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Logical 'AND'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Logical 'OR'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Returns rounded <Value>."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Returns fractional part of <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Returns integer part of <Value>."

  SDescriptionTRUE, "TRUE/"
    "Logical 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "Logical 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "Returns current page number."

  SDescriptionDATE, "DATE/"
    "Returns current date."

  SDescriptionTIME, "TIME/"
    "Returns current time."

  SDescriptionLINE, "LINE#/"
    "Returns current data-row number (starting at group beginning)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Returns current data-row number (starting at report beginning)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Returns current column number."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Returns number of total pages in the report."

  SDescriptionMROK, "MROK/"
    "Modal result constant."

  SDescriptionMRCancel, "MRCANCEL/"
    "Modal result constant."

  SDescriptionCurY, "CURY/"
    "Returns 'Y' position (in pixels) where current band will "
    "be shown. You can also assign value to CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Returns remain space on the page in pixels."

  SDescriptionFinalPass, "FINALPASS/"
    "Returns True if report engine performs final pass."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Returns height of the page in pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Returns width of the page in pixels."

  SDescriptionProgress, "PROGRESS/"
    "Value assigned to Progress will be showed in Progress window."

  SDescriptionModalResult, "MODALRESULT/"
    "Assigning non-zero value to ModalResult will close dialog form."

  SDescriptionStopReport, "STOPREPORT/"
    "Stops report building."

  SDescriptionNewPage, "NEWPAGE/"
    "Starts new page."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Starts new column."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Shows band with name <BandName> given."

  SDescriptionINC, "INC(<Value>)/"
    "Increments <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "Decrements <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Returns max of given values."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Returns min of given values."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Returns position of substring in given string."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Shows standard dialog window with title, text and buttons."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Applies <Mask> to given <String> and returns formatted string."


  SInformation, "Information"
  SExpressionOK, "Expression is OK!"
  STextOnly, "Text only"
  SSuppressRepeated, "Suppress repeated values"
  SDefaultBin, "Default"
  SDeleteObjects, "This will delete all objects on this page."
  SWarning, "Warning"
  SHideZeros, "Hide zeros"
  SPrintChild, "Print childs if invisible"
  SUnderlines, "Underlines"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
