#include "FR_Const.pas"

; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".


STRINGTABLE
{
  frRes + 5001, "Active="
  frRes + 5002, "AliasName="
  frRes + 5003, "Alignment="
  frRes + 5004, "AutoSize="
  frRes + 5005, "AutoWidth="
  frRes + 5006, "BandAlign="
  frRes + 5007, "Barcode="
  frRes + 5008, "BeginColor="
  frRes + 5009, "BlobType="
  frRes + 5010, "BorderStyle="
  frRes + 5011, "BottomMargin="
  frRes + 5012, "Breaked="
  frRes + 5013, "Caption="
  frRes + 5014, "Center="
  frRes + 5015, "CharSpacing="
  frRes + 5016, "CheckColor="
  frRes + 5017, "Checked="
  frRes + 5018, "CheckStyle="
  frRes + 5019, "ChildBand="
  frRes + 5020, "Color="
  frRes + 5021, "ColumnGap="
  frRes + 5022, "Columns="
  frRes + 5023, "ColumnWidth="
  frRes + 5024, "Connected="
  frRes + 5025, "Condition="
  frRes + 5026, "DatabaseName="
  frRes + 5027, "DataField="
  frRes + 5028, "DataSource="
  frRes + 5029, "DisplayFormat="
  frRes + 5030, "DriverName="
  frRes + 5031, "Enabled="
  frRes + 5032, "EndColor="
  frRes + 5033, "Fields="
  frRes + 5034, "FillColor="
  frRes + 5035, "Filter="
  frRes + 5036, "Font="
  frRes + 5037, "FormNewPage="
  frRes + 5038, "FrameColor="
  frRes + 5039, "FrameStyle="
  frRes + 5040, "FrameTyp="
  frRes + 5041, "FrameWidth="
  frRes + 5042, "GapX="
  frRes + 5043, "GapY="
  frRes + 5044, "Gradient="
  frRes + 5045, "Height="
  frRes + 5046, "HideZeros="
  frRes + 5047, "Highlight="
  frRes + 5048, "IndexName="
  frRes + 5049, "Items="
  frRes + 5050, "KeepAspect="
  frRes + 5051, "KeyField="
  frRes + 5052, "Left="
  frRes + 5053, "LeftMargin="
  frRes + 5054, "Lines="
  frRes + 5055, "LineSpacing="
  frRes + 5056, "ListField="
  frRes + 5057, "ListSource="
  frRes + 5058, "LoginPrompt="
  frRes + 5059, "Master="
  frRes + 5060, "MasterFields="
  frRes + 5061, "MasterSource="
  frRes + 5062, "Memo="
  frRes + 5063, "ModalResult="
  frRes + 5064, "Name="
  frRes + 5065, "OLE="
  frRes + 5066, "OnActivate="
  frRes + 5067, "OnBeforePrint="
  frRes + 5068, "OnClick="
  frRes + 5069, "OnFirstPage="
  frRes + 5070, "OnLastPage="
  frRes + 5071, "Orientation="
  frRes + 5072, "Params="
  frRes + 5073, "Picture="
  frRes + 5074, "Position="
  frRes + 5075, "PrintChildIfInvisible="
  frRes + 5076, "PrintIfSubsetEmpty="
  frRes + 5077, "PrintToPrevPage="
  frRes + 5078, "ReadOnly="
  frRes + 5079, "RepeatHeader="
  frRes + 5080, "Restrictions="
  frRes + 5081, "RightMargin="
  frRes + 5082, "RoundRect="
  frRes + 5083, "RoundSize="
  frRes + 5084, "ShadowColor="
  frRes + 5085, "ShadowWidth="
  frRes + 5086, "Shape="
  frRes + 5087, "Size="
  frRes + 5088, "SQL="
  frRes + 5089, "Stretched="
  frRes + 5090, "StretchToPrintable="
  frRes + 5091, "Style="
  frRes + 5092, "Suppress="
  frRes + 5093, "TableName="
  frRes + 5094, "Tag="
  frRes + 5095, "Text="
  frRes + 5096, "TextOnly="
  frRes + 5097, "Top="
  frRes + 5098, "TopMargin="
  frRes + 5099, "Type="
  frRes + 5100, "Underlines="
  frRes + 5101, "Visible="
  frRes + 5102, "Width="
  frRes + 5103, "WordBreak="
  frRes + 5104, "WordWrap="
}
