#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Источники данных"
  frRes + 3001, "&Свойства..."
  frRes + 3002, "Новая &таблица..."
  frRes + 3003, "Новый &запрос..."
  frRes + 3004, "&Удалить"
  frRes + 3005, "За&крыть"
  frRes + 3006, "Новая &БД..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Основные"
  frRes + 3021, "И&мя"
  frRes + 3022, "&Поля"
  frRes + 3023, "&Редактор полей..."
  frRes + 3024, "Прочие"
  frRes + 3025, "&Индекс"
  frRes + 3026, "&Фильтр"
  frRes + 3027, "&Master"
  frRes + 3028, "Ma&ster поля"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Добавить поля..."
  frRes + 3041, "Добавить &lookup..."
  frRes + 3042, "&Выделить все"
  frRes + 3043, "&Удалить"
  frRes + 3044, "&ОК"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Список полей"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Новое lookup поле"
  frRes + 3071, "Поле"
  frRes + 3072, "&Имя"
  frRes + 3073, "&Тип"
  frRes + 3074, "Ра&змер"
  frRes + 3075, "Описание Lookup"
  frRes + 3076, "&Ключевое поле"
  frRes + 3077, "Источник &данных"
  frRes + 3078, "&Lookup ключ"
  frRes + 3079, "&Результ. поле"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Свойства запроса"
  frRes + 3091, "Прочие"
  frRes + 3092, "&Master источник"
  frRes + 3093, "Основные"
  frRes + 3094, "&Имя"
  frRes + 3095, "&Алиас или путь"
  frRes + 3096, "&Текст SQL"
  frRes + 3097, "&Редактор полей..."
  frRes + 3098, "Редактор &параметров..."
  frRes + 3099, "Прочитать из файла"
  frRes + 3100, "Записать в файл"
  frRes + 3101, "Построить запрос..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Параметры"
  frRes + 3111, "&Тип данных"
  frRes + 3112, "&Имя"
  frRes + 3113, "Зна&чение:"
  frRes + 3114, "&Запросить значение"
  frRes + 3115, "&Назначить из master источника"
  frRes + 3116, "&Переменная:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Подчиненные поля"
  frRes + 3131, "&Основные поля"
  frRes + 3132, "&Связанные поля"
  frRes + 3133, "&Добавить"
  frRes + 3134, "О&чистить"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Ввод значений параметров"
  frRes + 3151, "4 точки"
  frRes + 3152, "8 точек"
  frRes + 3153, "Выравнивать по сетке"
  frRes + 3154, "Закрыть"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Свойства"
  frRes + 3171, "&Текст"
  frRes + 3172, "&Шрифт..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&Набор данных"
  frRes + 3175, "Поле &результата"
  frRes + 3176, "Поле &списка"
  frRes + 3177, "Тип"
  frRes + 3178, "Строка &ввода"
  frRes + 3179, "С&писок"
  frRes + 3180, "&Lookup список"
  frRes + 3181, "Список"
  frRes + 3182, "&Авторазмер"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Свойства БД"
  frRes + 3201, "Общие"
  frRes + 3202, "Параметры"
  frRes + 3203, "&Имя"
  frRes + 3204, "&Соединение"         ; для ADO
  frRes + 3205, "Имя &файла БД"       ; для IBX
  frRes + 3206, "Имя &алиаса"         ; для BDE
  frRes + 3207, "Имя &драйвера"
  frRes + 3208, "&Запросить пароль при подключении"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Выбор таблицы"
  frRes + 3221, "Таблица из БД"
  frRes + 3222, "Таблица из файла"
  frRes + 3223, "&База данных"
  frRes + 3224, "&Таблица"
  frRes + 3225, "&Обзор..."
;--- Strings resources -------------------------------------------------------
  SFields, "поля"
  SPath, "Путь"
  SRemoveDS, "Удалить этот компонент?"
  STables, "Таблицы БД"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Менеджер данных"
  SParams, "параметры"
  SQueryError, "Ошибка в SQL либо в описании параметров"
  STableProps, "Свойства таблицы"
  SParamDialog, "Диалог параметров"
  SInvalidParamValue, "Неверное значение параметра"
  SDatabase, "Базы данных"
  SFieldSizeError, "Неверный размер поля"
}
