#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Поиск"
  frRes + 1, "Искать &текст"
  frRes + 2, "Опции поиска"
  frRes + 3, "Различать &регистр"
  frRes + 4, "Искать"
  frRes + 5, "С &начала"
  frRes + 6, "&Продолжить"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "По ширине страницы"
  frRes + 21, "Страница целиком"
  frRes + 22, "Две страницы"
  frRes + 23, "Выход"
  frRes + 24, "Масштаб"
  frRes + 25, "Открыть отчет"
  frRes + 26, "Сохранить отчет в файле"
  frRes + 27, "Печать отчета"
  frRes + 28, "Поиск"
  frRes + 29, "Редактировать страницу"
  frRes + 30, "Добавить страницу"
  frRes + 31, "Удалить страницу"
  frRes + 32, "Показать справку"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Печать"
  frRes + 41, "Принтер"
  frRes + 42, "Свойства..."
  frRes + 43, "Копии"
  frRes + 44, "Страницы"
  frRes + 45, "&Все"
  frRes + 46, "&Текущая"
  frRes + 47, "&Номера:"
  frRes + 48, "Введите номера и/или диапазоны страниц, разделенные запятыми. Например, 1,3,5-12"
  frRes + 49, "&Имя:"
  frRes + 50, "Число &копий:"
  frRes + 51, "&Разобрать по копиям"
  frRes + 52, "Вывести на &печать:"
  frRes + 53, "Все страницы диапазона"
  frRes + 54, "Нечетные страницы"
  frRes + 55, "Четные страницы"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Экспорт в TXT"
  frRes + 1801, "&Удалять пустые строки"
  frRes + 1802, "Преобразовывать в &DOS"
  frRes + 1803, "Экспорт &обрамления"
  frRes + 1804, "Использовать &псевдографику"
  frRes + 1805, "Вставлять &разрывы страниц"
  frRes + 1806, "Масштабирование"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Экспорт в CSV"
  frRes + 1811, "&Символ-разделитель"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Экспорт в RTF"
  frRes + 1821, "Экспорт &картинок"
  frRes + 1822, "Преобразовать в &таблицу"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Экспорт в HTML"
;--- EXCELExportForm resources
  frRes + 1840, "Файл Excel через OLE (*.xls)"
  frRes + 1841, "Объектов: "
  frRes + 1842, " - Осталось: "
  frRes + 1843, "Подождите пожалуйста ..."
  frRes + 1844, "Экспорт в Excel"
  frRes + 1845, " Настройки страницы "
  frRes + 1846, "Отступ сверху"
  frRes + 1847, "Отступ слева"
  frRes + 1848, "Масштаб по X"
  frRes + 1849, "Масштаб по Y"
  frRes + 1850, " Настройки качества "
  frRes + 1851, "Объединения"
  frRes + 1852, "Выравнивания"
  frRes + 1853, "Цвета заливки"
  frRes + 1854, "Окантовки"
  frRes + 1855, "Перенос слов"
  frRes + 1856, "Шрифты"
  frRes + 1857, "Размеры шрифтов"
  frRes + 1858, "Стили шрифтов"
  frRes + 1859, "Цвет текста"
  frRes + 1860, "Разрывы страниц"
  frRes + 1861, "Лучше"
  frRes + 1862, "Быстрее"
  frRes + 1863, "Картинки"
  frRes + 1864, "Открыть Excel после экспорта"
  frRes + 1865, "Подготовка координат Y: "
  frRes + 1866, "Подготовка координат X: "
;--- RTFExportForm resources
  frRes + 1870, "Файл Rich text улучшеный (*.rtf)"
  frRes + 1871, "Экспорт в RTF"
;--- IMGExportForm resources
  frRes + 1875, "Файл BMP (*.bmp)"
  frRes + 1876, "Файл TIFF (*.tif)"
  frRes + 1877, "Файл JPEG (*.jpg)"
  frRes + 1878, "Экспорт в картинку"
  frRes + 1879, "Настройка изображения"
  frRes + 1880, "Качество (для JPEG)"
  frRes + 1881, "Обрезать края"
  frRes + 1882, "Черно-белое"
;--- Advanced CROSS
  frRes + 2600, "Общий итог"
  frRes + 2601, "Итого"
  frRes + 2602, "Итого по "
  frRes + 2603, "Показатель"
  frRes + 2604, "Заголовок"
  frRes + 2605, "Повторять надпись"
  frRes + 2606, "Внутренний фрейм"
  frRes + 2607, "Показывать заголовок"
;--- Functions in 2.50
  frRes + 2620, "Базы данных"
  frRes + 2621, "FIELDISNULL(<FieldName>)/Возвращает 'true' если поле FieldName принимает значение null"
  frRes + 2622, "Отчет"
  frRes + 2623, "REPORTCOMMENT/Возвращает комментарий к отчету"
  frRes + 2624, "REPORTNAME/Возвращает название отчета"
  frRes + 2625, "REPORTAUTOR/Возвращает имя автора отчета"
  frRes + 2626, "VMAJOR/Возвращает major номер версии отчета"
  frRes + 2627, "VMINOR/Возвращает minor номер версии отчета"
  frRes + 2628, "VRELEASE/Возвращает release номер версии отчета"
  frRes + 2629, "VBUILD/Возвращает build номер версии отчета"
  frRes + 2630, "REPORTDATE/Возвращает дату создания отчета"
  frRes + 2631, "REPORTLASTCHANGE/Возвращает дату последней модификации отчета"
;--- Designer 2.50
  frRes + 2650, "Подсветка синтаксиса"
  frRes + 2651, "Подсветка синтаксиса включена"
  frRes + 2652, "Отключить undo"
  frRes + 2653, "Пароль"
  frRes + 2654, "Введите пароль для открытия отчета"
  frRes + 2655, "Повторите пароль для проверки"
  frRes + 2656, "Общие"
  frRes + 2657, "Защита паролем"
  frRes + 2658, "Документ"
  frRes + 2659, "Аттрибуты"
  frRes + 2660, "Название"
  frRes + 2661, "Автор"
  frRes + 2662, "Версия"
  frRes + 2663, "Major"
  frRes + 2664, "Minor"
  frRes + 2665, "Release"
  frRes + 2666, "Build"
  frRes + 2667, "Описание"
  frRes + 2668, "Комментарий"
  frRes + 2669, "Изменен"
  frRes + 2670, "Создан"

;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Стили"
;-- XML Excel export
  frRes + 2710, "Excel таблица (XML) (*.xls)"
  frRes + 2711, "XML таблица (*.xml)"
  frRes + 2712, "Экспорт в XML"
  frRes + 2713, "Экспорт в Excel (XML)"
  frRes + 2714, "Числа"
;-- HTML Table export
  frRes + 2720, "HTML табличный (*.html)"
  frRes + 2721, "Экспорт в HTML"
  frRes + 2722, "Картинки"
  frRes + 2723, "Все в одну папку"
  frRes + 2724, "Открыть после экспорта"
  frRes + 2725, "Фиксировать ширину"
  frRes + 2726, "Навигатор страниц"
  frRes + 2727, "Многостраничный"
  frRes + 2728, "Mozilla фреймы"
  frRes + 2729, "Страницы"
  frRes + 2730, "Дополнительно"
;-- Text advanced export
  frRes + 2740, "Текстовый файл (матричный принтер) (*.prn)"
  frRes + 2741, "Экспорт в текст (матричный принтер)"
  frRes + 2742, "Просмотр вкл/выкл"
  frRes + 2743, "Настрока принтера"
  frRes + 2744, " Настройки экспорта "
  frRes + 2745, "Разрыв страниц"
  frRes + 2746, "DOS кодировка"
  frRes + 2747, "Пустые строки"
  frRes + 2748, "Пробелы слева"
  frRes + 2749, " Масштаб "
  frRes + 2750, "Ширина"
  frRes + 2751, "Высота"
  frRes + 2752, " Рамки "
  frRes + 2753, "Нет"
  frRes + 2754, "Простые"
  frRes + 2755, "Только с DOS кодировкой"
  frRes + 2756, "Графические"
  frRes + 2757, "Последующая печать"
  frRes + 2758, "Сохранить настройки"
  frRes + 2759, " Просмотр "
  frRes + 2760, "Ширина:"
  frRes + 2761, "Высота:"
  frRes + 2762, "Страница"
  frRes + 2763, "Увеличить"
  frRes + 2764, "Уменьшить"
  frRes + 2765, "Настройки принтера"
  frRes + 2766, "Тип принтера"
  frRes + 2767, "Загрузить"
  frRes + 2768, "Сохранить"
  frRes + 2769, "Шаблон настроек принтера (*.fpi)|*.fpi"

;--- Strings resources -------------------------------------------------------
  SOk, "ОК"
  SCancel, "Отмена"
  SYes, "Да"
  SNo, "Нет"
  SPg, "Стр."
  SNotAssigned, "[Нет]"
  SDefaultPrinter, "Виртуальный принтер"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "Нет"
  SCateg1, "Текст"
  SCateg2, "Число"
  SCateg3, "Дата"
  SCateg4, "Время"
  SCateg5, "Логическая"
  SFormat11, "[Нет]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Другой"
  SFormat31, "05.11.98"
  SFormat32, "05.11.1998"
  SFormat33, "5 ноя 1998"
  SFormat34, "5 ноября 1998"
  SFormat35, "Другой"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Другой"
  SFormat51, "0;1"
  SFormat52, "Нет;Да"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Другой"
  SDateFormat1, "dd.mm.yy"
  SDateFormat2, "dd.mm.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "из"
  SErrorOccured, "Возникла ошибка при обработке выражения"
  SDoc, "Документ:"
  SObject, "Объект:"
  SReportPreparing, "Подготовка отчета"
  SFirstPass, "Выполняется 1-й проход:"
  SPagePreparing, "Формируется страница:"
  SError, "Ошибка"
  SPreview, "Предварительный просмотр"
  SPagePrinting, "Печатается страница:"
  SUntitled, "Untitled"
  SPrinterError, "Возникли проблемы с настройкой выбранного принтера."
  SRepFile, "Файл отчета"
  STextFile, "Текстовый файл"
  SRTFFile, "Файл Rich Text"
  SCSVFile, "Файл CSV"
  SHTMFile, "Файл HTML"
  SFont, "Шрифт..."
  SCharset, "204"
  SBarcodeError, "Ошибка в коде"
  SFRFError, "Неверный FRF формат"
  SUndefinedSymbol, "Переменная не определена:"
}
