-$A+
-$B-
-$C+
-$D-
-$E-
-$F-
-$G+
-$H+
-$I+
-$J+
-$K-
-$L+
-$M-
-$N+
-$O+
-$P+
-$Q-
-$R-
-$S-
-$T-
-$U-
-$V+
-$W-
-$X+
-$YD
-$Z1
-cg
-AWinTypes=Windows;WinProcs=Windows;DbiTypes=BDE;DbiProcs=BDE;DbiErrs=BDE;
-H+
-W+
-M
-$M16384,1048576
-K$00400000
-E"..\..\"
-N"..\..\..\..\DCU"
-LE"..\..\..\..\BPL"
-LN"..\..\..\..\BPL"
-U"..\..\..\..\IBX;..\..\..\..\gedemin;..\..\..\..\DCU;..\..\..\..\setup;..\..\..\..\Common;..\..\..\..\Component\SynEdit\Source;..\..\..\..\jcl\source\common;..\..\..\..\jcl\source;..\..\..\..\Component;..\..\..\..\ClassTree;..\..\..\..\QueryFilter;..\..\..\..\jcl\source\windows;..\..\..\..\Component\SynEdit\Source;..\..\..\..\Component\TB2k\Source"
-O"..\..\..\..\IBX;..\..\..\..\gedemin;..\..\..\..\DCU;..\..\..\..\setup;..\..\..\..\Common;..\..\..\..\Component\SynEdit\Source;..\..\..\..\jcl\source\common;..\..\..\..\jcl\source;..\..\..\..\Component;..\..\..\..\ClassTree;..\..\..\..\QueryFilter;..\..\..\..\jcl\source\windows;..\..\..\..\Component\SynEdit\Source;..\..\..\..\Component\TB2k\Source"
-I"..\..\..\..\IBX;..\..\..\..\gedemin;..\..\..\..\DCU;..\..\..\..\setup;..\..\..\..\Common;..\..\..\..\Component\SynEdit\Source;..\..\..\..\jcl\source\common;..\..\..\..\jcl\source;..\..\..\..\Component;..\..\..\..\ClassTree;..\..\..\..\QueryFilter;..\..\..\..\jcl\source\windows;..\..\..\..\Component\SynEdit\Source;..\..\..\..\Component\TB2k\Source"
-R"..\..\..\..\IBX;..\..\..\..\gedemin;..\..\..\..\DCU;..\..\..\..\setup;..\..\..\..\Common;..\..\..\..\Component\SynEdit\Source;..\..\..\..\jcl\source\common;..\..\..\..\jcl\source;..\..\..\..\Component;..\..\..\..\ClassTree;..\..\..\..\QueryFilter;..\..\..\..\jcl\source\windows;..\..\..\..\Component\SynEdit\Source;..\..\..\..\Component\TB2k\Source"
-D_TARGET_21;_TARGET_30
